.collapsibleIcon ion-icon {
  display: inline-block;
  font-size: 1.2rem; /* Thay đổi kích thước icon */
  transition: transform 0.3s ease;
}

.navCollapsible.navExpanded .collapsibleIcon ion-icon {
  transform: rotate(180deg); /* Xoay mũi tên khi menu mở */
}
